extends layout

block content
  h2 Welcome to the Language Learning App!
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec enim nec eros ullamcorper lacinia.  Donec velit mauris, tincidunt vel enim vel, ultricies ultrices odio.  Nulla facilisi.  Sed euismod, nisl vitae egestas consequat, nibh nisl laoreet odio, vitae ultricies odio nisl vitae odio.
  p Nullam id dolor id nibh ultricies vehicula ut id elit.  Nulla vitae elit libero, a pharetra augue.  Donec sed odio dui.  Donec id elit non mi porta gravida at eget metus.
  if user
    p You are logged in as #{user.username}
