doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 My Language Learning App
    nav
      a(href="/") Home
      a(href="/history") History
    main
      block content
    footer
      p &copy; 2024 My App
