extends layout

block content
  h2 Generated Content
  p Language: #{language}
  p Prompt: #{prompt}
  h3 Response:
  pre.bg-light.p-3.border.border-secondary.rounded #{response}
  a.btn.btn-secondary(href="/") Back to Form
